/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Базовые стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 15px 0;
}

header .menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header .menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

header .menu a:hover {
    background-color: white;
    color: #0073e6;
    border-radius: 5px;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.filter-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.filter-form label {
    font-weight: bold;
}

.filter-form input,
.filter-form select {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
}


.filter-button {
    padding: 10px 20px;
    width: 340px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #005bb5;
}

/* Стили для списка вакансий в столбец */
.vacancy-grid {
    display: flex; /* Используем flexbox */
    flex-direction: column; /* Размещаем элементы по вертикали */
    gap: 20px; /* Добавляем отступы между элементами */
}


.vacancy-card {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.vacancy-card h2 {
    color: #0073e6;
    margin-bottom: 10px;
}

.vacancy-card p {
    margin-bottom: 8px;
}

.apply-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.apply-button:hover {
    background-color: #218838;
}

/* Футер */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 0.85rem;
    margin-top: auto;
}

#requirements {
    width: 50%; /* Установить ширину на 100% контейнера */
    padding: 10px; /* Добавить внутренний отступ для удобства ввода */
    font-size: 1rem; /* Увеличить размер шрифта для читабельности */
    border: 1px solid #ccc; /* Добавить границу */
    border-radius: 4px; /* Закругленные углы */
    box-sizing: border-box; /* Учитывать отступы и границы в ширине */
}